
body{
 background:#0f172a;
 font-family:Arial;
 color:#fff;
}
.painel{
 max-width:500px;
 margin:50px auto;
 background:#020617;
 padding:30px;
 border-radius:12px;
}
input{
 width:100%;
 padding:10px;
 margin-bottom:15px;
 border-radius:8px;
 border:none;
}
button{
 width:100%;
 padding:14px;
 background:#38bdf8;
 border:none;
 border-radius:8px;
 font-size:16px;
 cursor:pointer;
}
